p span:last-child {
  box-sizing: border-box ;
  display: inline-block;
  background:#ccc;
  border-radius: 4px;
  width: 120px;
  height: 25px;
  margin-left: 10px;
  padding: 4px 8px;
}

div p {
  display: flex;
  align-items: center;
}

.sacola {
  background: #000;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}